
@{
    ViewBag.Title = "Login";
}

<h2>Login page</h2>
<form>
    <label>UserName</label>
    <input type="text" class="form-control" placeholder="UserName" />
    <label>Password</label>
    <input type="password" class="form-control" placeholder="password" /><br />
    <input type="submit" class="btn-primary" placeholder="Submit" />

</form>

<a href="/FCF/Register">Go to Register</a>