
@{
    ViewBag.Title = "Bio";
}
<a>

<h2>Biography Information</h2>

<div class="bio-info">
    <div class="form-group">
        <label for="fullName">Full Name</label>
        <p id="fullName">Alif Hossain Talha</p>
    </div>

    <div class="form-group">
        <label for="place">Place</label>
        <p id="place">Natore, Rajshahi</p>
    </div>
</div>
<a href="/Bio/Education" >Go to Education</a>