
@{
    ViewBag.Title = "Education";
}

<h2>Education</h2>


<form >
    <div class="form-group">
        <label for="sscName">SSC Institution Name</label>
        <input type="text" class="form-control" id="sscName" name="SscName" placeholder="Enter SSC Institution Name" required />
    </div>

    <div class="form-group">
        <label for="sscGrade">SSC Grade</label>
        <input type="text" class="form-control" id="sscGrade" name="SscGrade" placeholder="Enter SSC Grade" required />
    </div>

    <div class="form-group">
        <label for="hscName">HSC Institution Name</label>
        <input type="text" class="form-control" id="hscName" name="HscName" placeholder="Enter HSC Institution Name" required />
    </div>

    <div class="form-group">
        <label for="hscGrade">HSC Grade</label>
        <input type="text" class="form-control" id="hscGrade" name="HscGrade" placeholder="Enter HSC Grade" required />
    </div>

    <div class="form-group">
        <label for="universityName">University Name</label>
        <input type="text" class="form-control" id="universityName" name="UniversityName" placeholder="Enter University Name" required />
    </div>

    <div class="form-group">
        <label for="universityGrade">University Grade</label>
        <input type="text" class="form-control" id="universityGrade" name="UniversityGrade" placeholder="Enter University Grade" required />
    </div>

    <button type="submit" class="btn btn-primary">Submit</button>
</form>
<a href="/Bio/Bio" >Go to Bio</a>